  <div class="container" data-controller="countries">
  <% @countries.each do |country| %>
  <div class="col" >
      <div class="card-daily-weather">

        <%= link_to country_path(country), class: "text-decoration-none" do %>
          <div class="card-daily-weather-details">
            <%= image_tag country.current_weather["condition"] %>

            <div class="card-daily-weather-infos">
              <h2> <strong><%= country.name %></strong></h2>
              <p>Average Temperature: <strong><%= country.current_weather["temp_c"] %> &#8451; / <%= country.current_weather["temp_f"] %> &#8457; </strong></p>
              <p>Humidity: <strong><%= country.current_weather["humidity"] %>%</strong>
            </div>
          </div>
        <% end %>

        <div class="card-daily-weather-favorite">
          <% if Favorite.exists?(country_id: country.id, user_id: current_user.id) %>
                <i class="bi bi-star-fill" data-path="<%= update_favorites_favorites_path %>" data-country-id="<%= country.id %>" data-user-id="<%= current_user.id %>" data-action="click->countries#send"></i>
          <% else %>
              <i class="bi bi-star" data-path="<%= update_favorites_favorites_path %>" data-country-id="<%= country.id %>" data-user-id="<%= current_user.id %>" data-action="click->countries#send"></i>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
